* {
    margin: 0;
    font-family: "Arsenal", sans-serif;
}

nav {
    height: 80px;
    background-color: rgb(62, 5, 115);
    align-items: center;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 20%;
    width: 20%;
    max-width: 300px;
    justify-content: center;
}

nav ul li {
    color: rgb(255, 255, 255);
    list-style: none;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
}

#atual {
    color: rgb(147, 80, 205);
}

nav li:hover {
    border-bottom: 2px solid rgb(147, 80, 205);
}

.videos h2,
.videos div {
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
}

.fila1 {
    display: flex;
    gap: 25px;
    margin: 15px;
    justify-content: center;
    margin-bottom: 55px;
}

.fila2 {
    display: flex;
    gap: 25px;
    margin: 0 15px 15px;
    justify-content: center;
}

.card-video {
    text-align: center;
}

iframe {
    border-radius: 15px;
    display: block;
}

p {
    margin-top: 7px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 10px 0;
}

img {
    width: 64px;
}

footer p {
    padding-bottom: 20px;
    padding-top: 7px;
}

.linha-footer {
    height: 10px;
    background-color: blueviolet;
    margin-bottom: 10px;
}